section{
    margin: 0 auto;
    width: 85%; /* section width on phone: always use % here */
    max-width: 80vh; /* section width on computer: always use vh/px/em here, NOT % */
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.tab-2 input{
    margin-bottom: 7px;
    align-items: center;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}

tr:hover{
    transition:all .25s ease-in-out;
    background-color: #d2d0d0ee;
}

.button-container{
    text-align: center;
    transition: 0.5s;
}

.button-container:hover{
    transform:scale(1.3);
    z-index: 2;
}

button{
    padding: 6px;
    width: 0 auto;
    border-radius: 20px;
    background-color: #f8e9e9;
    border-color: #eea0be;
    transition: 0.5s;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

input{
    padding: 6px;
    width: 0 auto;
    border-radius: 20px;
    border-color: #f48db4;
    display: block;
    align-items: center;
}

table {
    margin: 20px auto; /* Center the table and add some spacing */
    background-color: #f8e9e9;
    border-radius: 5px;
    border-width: 5px;
    border-color: #eea0be;
    box-shadow: 0 0 5px grey;
}

h1{
    text-align: center;
    font-size: 38px;
}

body {
    background: radial-gradient(circle at 10% 20%, rgb(186, 190, 245) 0%, rgb(192, 192, 245) 33.1%, rgb(218, 203, 246) 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
